<div class="alcohol-info-container" [hidden]="hidden">
  <form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <div class="form-group">
      <input class="form-control" name="alcoholName" placeholder="Enter Alcohol Name" type="text" [(ngModel)]="alcoholData.name"
        required #nameField="ngModel" [class.is-invalid]="form.submitted && nameField.invalid" />
      <div [hidden]="!form.submitted || nameField.valid" class="alert alert-danger">
        <span>Please enter a name!</span>
      </div>
    </div>
    <div class="d-flex">
      <div class="mr-3">
        <div class="form-group">
          <input class="form-control" name="alcoholCategory" placeholder="Enter Alcohol Category" type="text" [(ngModel)]="alcoholData.category"
            required #categoryField="ngModel" [class.is-invalid]="form.submitted && categoryField.invalid" />
          <div [hidden]="!form.submitted || categoryField.valid" class="alert alert-danger">
            <span>Please enter a category!</span>
          </div>
        </div>
        <div class="form-group">
          <input class="form-control" name="alcoholGlass" placeholder="Enter Alcohol Glass" type="text" [(ngModel)]="alcoholData.glass"
            required #glassField="ngModel" [class.is-invalid]="form.submitted && glassField.invalid" />
          <div [hidden]="!form.submitted || glassField.valid" class="alert alert-danger">
            <span>Please enter a glass!</span>
          </div>
        </div>
        <div class="form-group">
          <div *ngFor="let ingredient of alcoholData.ingredients; let i = index;">
            <input class="form-control" name="alcoholIngredient{{i+1}}" placeholder="Enter Alcohol Ingredient" type="text" [value]="ingredient" />
          </div>
        </div>
        <div class="form-group">
          <textarea class="form-control" name="alcoholInstructions" placeholder="Enter Alcohol Instructions" type="text" [(ngModel)]="alcoholData.instructions"
            required #instructionsField="ngModel" [class.is-invalid]="form.submitted && instructionsField.invalid"></textarea>
          <div [hidden]="!form.submitted || instructionsField.valid" class="alert alert-danger">
            <span>Please enter instructions!</span>
          </div>
        </div>
      </div>
      <img class="align-self-center alcohol-img" alt="alcohol-{{alcoholData.id}}" src="{{alcoholData.thumbnail}}"/>
    </div>
    <div class="form-group">
      <button class="btn btn-warning mr-3" type="submit">Submit</button>
      <button class="btn btn-secondary" type="button" (click)="hideOverlay()">Close</button>
    </div>
  </form>
</div>
