:host {
  background-color: white;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  position: absolute;
  height: auto;
  width: auto;
  overflow: hidden;
  transition: opacity 1s;

  .ag-tooltip-hiding {
    opacity: 0;
  }

  p {
    margin: 5px;
    white-space: nowrap;

    &:first-of-type {
      font-weight: bold;
    }
  }
}
