<ag-grid-angular #agGrid class="ag-theme-balham grid-demo"
                 [animateRows]="true"
                 [columnDefs]="columnDefs"
                 [rowData]="rowData | async"
                 [rowDragManaged]="true"
                 [frameworkComponents]="frameworkComponents"
                 [context]="context"
                 [loadingOverlayComponent]="loadingOverlayComponent"
                 [loadingOverlayComponentParams]="loadingOverlayComponentParams"
                 (gridReady)="onGridReady($event)"
                 (firstDataRendered)="onFirstDataRendered($event)"></ag-grid-angular>
<router-outlet></router-outlet>
