.cell-button {
  display: flex;
  align-items: center;

  .ag-icon {
    color: white;
  }
}

.cell-space {
  display: flex;
  align-items: center;
  white-space: normal;
}

.cell-image img {
  height: 150px;
  width: auto;
}
